@font-face {
  font-family: "Garamond Premiere Pro";
  src: url(./assets/Fonts/GaramondPremrPro.otf) format("truetype");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
  font-family: "Garamond Premiere Pro", sans-serif;
}

h1 {
  color: #ce979e;
  font-size: 5rem;
  letter-spacing: 0.1rem;
  text-align: center;
}

main {
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
  overflow: hidden;
}
main .blob-container-left, main .blob-container-right {
  position: absolute;
  overflow: hidden;
  z-index: -1;
  display: flex;
  flex-direction: column;
}
main .blob-container-left {
  left: -30%;
}
main .blob-container-right {
  right: -30%;
}
main .karen-container {
  display: flex;
  align-items: center;
  padding: 2rem 0;
  margin: 2rem 3rem;
  border-top: 3px solid #e2a4ae;
  border-bottom: 3px solid #e2a4ae;
}
main .karen-container > * {
  padding: 2rem;
}
main .karen-container span {
  font-weight: 600;
}
main .karen-container img {
  transform: scale(0.9);
  filter: drop-shadow(0 0 3px black);
  border-radius: 50%;
}
main .content-wrapper {
  margin: 2vh auto;
  width: 50%;
  box-shadow: 0px 0px 20px #b1b1b1;
}
main section {
  z-index: 10;
  font-size: 2rem;
}
main .book-splash {
  position: relative;
  display: flex;
  align-items: center;
  flex-direction: column;
  margin-top: 4vh;
  padding: 2rem;
}
main .book-splash .main-splash-image {
  margin-top: 4vh;
  height: 100vh;
  filter: drop-shadow(0px 0px 10px #747474);
}
main .book-splash span {
  z-index: 20;
  position: absolute;
  transform: rotate(-20deg);
  font-size: 4.5rem;
  left: 10%;
  top: 18%;
}
main .text-content {
  padding: 4rem;
}
main .text-content > * {
  padding: 1rem 0;
}
main .text-content ul {
  padding-left: 2rem;
}
main .text-content ul li {
  padding: 0.4rem 0;
}

@media (max-width: 1500px) {
  main .karen-container {
    flex-direction: column;
  }
}
@media (max-width: 1000px) {
  main .content-wrapper {
    width: 100%;
    margin: 0;
  }
  main .content-wrapper .karen-container {
    flex-direction: column;
  }
  main .content-wrapper .karen-container img {
    transform: scale(1);
    width: 100%;
  }
  main .book-splash {
    padding: 3rem 0;
  }
  main .book-splash .main-splash-image {
    width: 80%;
    height: auto;
    object-fit: contain;
  }
  main .blob-container-left {
    left: -60%;
  }
  main .blob-container-right {
    right: -60%;
  }

  h1 {
    font-size: 2.5rem;
  }
}